.parent{
    height: 400px;
    width: 100%;
    background-color: grey;
    color: white;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    /* align-items: stretch; */
    align-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.child1{
    height: 200px;
    width: 200px;
    background-color: red;
    /* flex-grow: 2; */
   
}

.child2{
    height: 200px;
    width: 200px;
    background-color: blue;
    /* flex-grow: 1; */
}

.child3{
    height: 200px;
    width: 200px;
    background-color: black;
    /* flex-grow: 1; */
}

.child4{
    height: 200px;
    width: 200px;
    background-color: yellow;
    /* flex-grow: 1; */
}

.child5{
    height: 200px;
    width: 200px;
    background-color: rgb(8, 155, 69);
}