/* .container{
    height: 400px;
    width: 100%;
    background-color: gray;
} */
*{
    margin: 0;
    padding: 0;
   /* border: 2px solid red; */
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab');

header{
    height: 80px;
    width: 100%;
    background-color: rgba(0,0,0,.3);
   display: flex;
   position: fixed;
   justify-content: space-between;
}

.logo{
   height: 80px;
   width: 18%; 
   font-size: 30px;
   /* background-color: yellow; */
   text-align: center;
   align-items: center;
   line-height: 80px;
   font-family: 'Segoe UI';
   font-weight: bold;
   color: white;
   margin-left: 5%;
}

nav{
    height: 80px;
   width: 40%; 
   /* background-color: blue; */
   /* margin-left: 60%; */
  
} 

.navigation{
    list-style-type: none;
   display: flex;
   flex-direction: row;
   /* background-color: brown; */
   height: 80px;
   width: 100%;
   justify-content: space-evenly;
   text-align: center;
   align-items: center;
}

.nav-link{
    
    height: auto;
    color: white;
    font-size: 18px;
    transition: .3s;
}

.nav-link:hover{
    font-size: 25px;

}
 

/* Banner */

.banner{
    width: 100%;
    align-items: center;
    height :75vh;
    display: flex;
    background-size: cover;
    background-position: 0-200;
    background-image: url('https://images.pexels.com/photos/8387131/pexels-photo-8387131.jpeg?auto=compress&cs=tinysrgb&w=600');
}

.banner_details{
    height: 250px;
    width: 35%;
    background-color: white;
    color: black;
   /* transform: rotate(202deg); */
    /* font-size: 25px; */
    margin-left: 5%;
    border-radius: 10px;
    
}

.banner_text{
    text-transform: uppercase;
    padding-left: 25px ;
    font-size: 40px;
    font-family: 'Segoe UI';
    margin-top: 20px;
    /* font-family: 'Roboto Slab', serif; */
}
.btn{
    height: 50px;
    width: 30%;
    background-color: rgb(255, 60, 0);
    margin-top: 50px;
    margin-left: 60%;
    font-size: 14px;
    font-family: 'Segoe UI';
    border-radius: 15px;
    font-weight: bold;
    color: whitesmoke;
    text-transform: uppercase;
    border: none;
}

.btn:hover{
    height: 60px;
    width: 34%;
    font-size: 16px;
    transition: .4s;
}
 
/* Our Products */ 
.products{
    width: 100%;
    height: 420px;
    background-color: whitesmoke;
    padding-bottom: 20px;
}

.products>h1{
    margin-left: 45%;
    padding-top: 15px;
    font-weight: 500;
    width: 15%;
    font-family: segoe UI;
    font-size: 25px;
    color: black;
}

.product_container{
    padding-top: 10px;
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    /* background-color: red; */
}

.product1{
    width: 17%;
    height: 350px;
    background-image: url('https://images.pexels.com/photos/8498418/pexels-photo-8498418.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-size: cover;
    /* margin-left: 3%; */
    display: flex;
    border-radius: 10px ;
    align-items: flex-end;
}

.product2{
    width: 17%;
    height: 350px;
    background-image: url('https://images.pexels.com/photos/7466959/pexels-photo-7466959.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-size: cover;
    /* margin-left: 3%; */
    display: flex;
    border-radius: 10px ;
    align-items: flex-end;
}

.product3{
    width: 17%;
    height: 350px;
    background-image: url('https://images.pexels.com/photos/13235137/pexels-photo-13235137.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-size: cover;
    /* margin-left: 3%; */
    display: flex;
    border-radius: 10px ;
    align-items: flex-end;
}

.product4{
    width: 17%;
    height: 350px;
    background-image: url('https://images.pexels.com/photos/36029/aroni-arsa-children-little.jpg?auto=compress&cs=tinysrgb&w=600');
    background-size: cover;
    /* margin-left: 3%; */
    display: flex;
    border-radius: 10px ;
    align-items: flex-end;
}

.product5{
    width: 17%;
    height: 350px;
    background-image: url('https://images.pexels.com/photos/3863802/pexels-photo-3863802.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-size: cover;
    /* margin-left: 3%; */
    display: flex;
    border-radius: 10px ;
    align-items: flex-end;
}

.product_details{
    height: 100px;
    font-family: 'Segoe UI';
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px ;
    color: white;
    text-align: justify;
    font-size: 12px;
    transition: .5s;
    
}

.product_details:hover{
    height: 150px;
    font-family: 'Segoe UI';
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px ;
    color: white;
    text-align: justify;
    font-size: 12px;
}

.product_text{
    width: 80%;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

                /* HERE'S WHERE IT GETS EVEN BETTER */
.hook_container{
    width:100vw;
    height: 250px;
    background-color: whitesmoke;
    padding-top: 40px;
}

.hook_container_details{
    height: 200px;
    width: 32%;
    background-color: white;
    color: black;
   /* transform: rotate(202deg); */
    /* font-size: 25px; */
    margin-left: 64.1%;
    border-radius: 10px;
    
}

.hook_container_title{
    text-transform: uppercase;
    /* padding-left: 25px ; */
    font-size: 31px;
    font-family: 'Segoe UI';
    margin-top: 20px;
    text-align: center;
}

.hook_container_text{
    text-align: justify;
    padding : 10px 3px 0 5px;
    font-size: 13px;
    font-family: 'Segoe UI';
    color: black;
    height: 60px;
    width: 85%;
    font-family: 'Roboto Slab', serif;
}

.hook_container_btn{
    margin-top: 10px;
    margin-left: 40%;
    height: 60px;
    width: 50%;
    background-color: rgb(255, 60, 0);
    font-size: 15px;
    font-family: 'Segoe UI';
    border-radius: 15px;
    font-weight: bold;
    color: whitesmoke;
    text-transform: uppercase;
    border: none;
   
}

            /* NEW PRODUCTS */

.newproducts{
    position: relative;
    width: 100%;
    /* border: 2px red solid; */
    height: 60vh;
    overflow: hidden;
}

.new_products_container{
    width:100vw;
    height: 60vh;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    position: absolute;
    transition: 0.8s;
    cursor: pointer;
    /* border: 2px solid red; */
}

div > img{
    align-items: center;
}
.gallery1{
    width: 20%;
    margin-left: 5%;
    height: 100%;
    background-color: whitesmoke;
   display: flex;
   align-items: center;
   border-radius: 20px;
}

.new_products_details{
    width: 65%;
    margin-left: 10%;
    height: 100%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding: 20px; */
}

.new_products_details_container{
    text-align: left;
    width:80%;
    color: black;
}

.new_products_title{
    /* text-align: center; */
    font-family: 'Segoe UI';
    color: black;
    font-size: 38px;
}

.new_products_text{
    text-align: justify;
    padding : 20px 0 20px 0;
    font-size: 14px;
    font-family: 'Segoe UI';
    color: black;
}

.new_products_btn{
    margin-top: 20px;
    height: 50px;
    width: 20%;
    background-color: rgb(255, 60, 0);
    font-size: 14px;
    font-family: 'Segoe UI';
    border-radius: 15px;
    font-weight: bold;
    color: whitesmoke;
    text-transform: uppercase;
    border: none;
}

.new_products_btn:hover{
    height: 55px;
    width: 27%;
    font-size: 16px;
    transition: .5s;
}

   



.gallery_mode1{
    margin-left: 19%;
}

.gallery_mode2{
    margin-left: 39%;
}

.gallery_mode3{
    margin-left: 59%;
}

.gallery_mode4{
    margin-left: 79%;
   
    /* overflow: hidden; */
}

             /* Gallery Mode Hover */


.gallery_mode0:hover ~.gallery_mode1{
    margin-left: 100%;
}
.gallery_mode0:hover ~.gallery_mode2{
    margin-left: 100%;
}

.gallery_mode0:hover ~.gallery_mode3 {
    margin-left: 100%;
}

.gallery_mode0:hover ~.gallery_mode4{
    margin-left: 100%;
}




 .gallery_mode1:hover{
    margin-left: 0;
}

.gallery_mode1:hover ~.gallery_mode2{
    margin-left: 100%;
}

.gallery_mode1:hover ~.gallery_mode3 {
    margin-left: 100%;
}

.gallery_mode1:hover ~.gallery_mode4{
    margin-left: 100%;
}



.gallery_mode2:hover{
    margin-left: 0;
}

.gallery_mode2:hover ~.gallery_mode3 {
    margin-left: 100%;
}

.gallery_mode2:hover ~.gallery_mode4{
    margin-left: 100%;
}


.gallery_mode3:hover{
    margin-left: 0;
}

.gallery_mode3:hover ~.gallery_mode4{
    margin-left: 100%;
}

.gallery_mode4:hover{
    margin-left: 0; 
}

/* CONTACT US */
        
.contact_container{
     width: 100%;
     height: 350px;
     background-color:  whitesmoke;
     /* margin-top: 30px; */
     /* border: 2px solid red; */
     
}

.form_field{
    display: flex;
    flex-direction: column;
    margin-top: 20px ;
    height: 30px;
    width: 30%;
    border-radius:10px;
    margin-left: 35%;
    text-indent: 10px;
    border: 1px solid grey;
    outline: none;
    transition: 1s;
   
}

.form_field:nth-child(1){
    margin-top: 0px ;
}

.form_field:hover{
    box-shadow: 0px 0px 9px rgb(10, 140, 163);
}

.contact_container_title{
    text-align: center;
    font-size: 18px;
    font-family: 'Segoe UI';
    height: 30px;
    padding-top: 20px;
    margin-left: 42.9%;
    font-weight: bolder;
    width: 12%;
    background-color:  whitesmoke;
}

.textarea{
    height: 60px;
}

.contact_container_btn{
    text-align: center;
    font-size: 15px;
    width: 7%;
    margin-left: 46.5%;
    font-family: 'Segoe UI';
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    font-family: 'Segoe UI';
    border-radius: 14px;
    height: 40px;
    font-weight: 600;
    /* transition: 0.9s; */
    color: white;
    text-align: center;
    /* text-transform: uppercase; */
    border: none;
}

.contact_container_btn:hover{
    box-shadow: 0px 0px 9px rgba(0, 93, 233, 0.877);
}

    /* SUBSCRIBE */
.subscribe_image{
    background-image: url("https://images.pexels.com/photos/5585815/pexels-photo-5585815.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-size: cover;
    background-position: 10% 20%;
    height: 350px;
    padding-top: 0;
    overflow: hidden;
}

.subscribe{
    /* margin-top: 20px; */
    height: 350px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    /* display: flex; */
    /* opacity: 0.5; */
}

.sub_form_field{
    margin-top: 120px ;
    height: 30px;
    width: 60%;
    border-radius:10px;
    margin-left: 20%;
    text-indent: 10px;
    border: 1px solid grey;
    outline: none;
    color: whitesmoke;
    transition: 0.9s;
    background-color:  rgba(0, 0, 0, 0.4);

}

.sub_form_field:hover{
    box-shadow: 0px 0px 9px rgb(199, 231, 236);
}

.subscribe_container_btn{
    margin-top: 30px ;
    text-align: center;
    font-size: 15px;
    width: 7%;
    margin-left: 46.5%;
    font-family: 'Segoe UI';
    background-color:  rgba(0, 0, 0, 0.4);
    font-family: 'Segoe UI';
    border-radius: 14px;
    font-weight: 600;
    color: whitesmoke;
    text-align: center;
    height: 50px;
    border: none;
}

.subscribe_container_btn:hover{
    box-shadow: 0px 0px 9px rgba(247, 247, 247, 0.904);
}


.subscribe_container_title{
    /* height: 35px; */
    /* padding-left: 25px ; */
    font-size: 35px;
    font-family: 'Segoe UI';
    padding-top: 30px;
    text-align: center;
    color: whitesmoke;
    font-family: 'Segoe UI';
    /* background-color:  rgba(0, 0, 0, 0.4); */
    
}

                /* FOOTER  */

.footer_parent{
    width: 100%;
    height: 300px;
    background-color: black;
    display: flex;
    justify-content: space-around;
}

.footer_container{
    width: 17%;
    height: 200px;
    /* background-color: red; */
    /* background-color:  rgba(65, 65, 65, 0.8); */
    opacity: 2px;
    margin-top: 60px;
    color: whitesmoke;
}

.quick_links{
    font-size: 22px;
    font-family: 'Segoe UI';
    text-align: center;
    margin-bottom: 10px;
}

.quick_link{
    font-size: 12px;
    font-family: 'Segoe UI';
    text-align: center;
    padding-bottom: 2px;
    list-style-type: none;
}

.contact_links{
    font-size: 22px;
    font-family: 'Segoe UI';
    text-align: center;
    margin-bottom:30px;
}

.contact_link{
    font-size: 14px;
    font-family: 'Segoe UI';
    text-align:center;
    margin-bottom:10px;
    list-style-type: none;
}

.footer_container_title{
    font-size: 22px;
    font-family: 'Segoe UI';
    text-align: center;
    margin-bottom: 10px;
  
    
    
}

/* .footer_container_text_and_title{
    color: black;
    height: auto;
} */

.article_title{
    font-family: 'Times New Roman';
    /* text-align: center; */
    margin-bottom:7px;
    margin-top: 25px;
   
    /* background-color: white; */
}

.footer_container_text{
    /* text-indent: 20px; */
    font-size: 14px;
    font-family: 'Segoe UI';
    margin-top: 4px;
    /* background-color: white; */
    
}

.footer_container_link{
    font-size: 14px;
    text-decoration: none;
    width: 40%;
    margin-left: 3%;
    font-family: 'Segoe UI';
    background-color:  rgba(0, 0, 0, 0.4);
    border-radius: 14px;
    font-weight: 600;
    margin-top: 10px;
    color: whitesmoke;
    /* text-align: center; */
    height: 28px;
    border: none;
}

.footer_container_link:hover{
    box-shadow: 0px 0px 9px rgba(247, 247, 247, 0.904);
}

.social_media_links{
    font-size: 22px;
    font-family: 'Segoe UI';
    text-align: center;
    margin-bottom: 10px;
}



.social_media_link{
    width: 15%;
    /* height: 30px; */
    margin-top: 35px;
    margin-left: 6px;

}