.dodo{
    height: 400px;
    width: 500px;
    margin: 10%;
    /* filter: opacity(2); */
    /* filter: sepia(30); */
    /* filter: contrast(23); */
   
    background-image: url('https://images.pexels.com/photos/1123771/pexels-photo-1123771.jpeg?auto=compress&cs=tinysrgb&w=600');
}
 
.dodo_text{
   /* background-color: azure; */
   width: 30%;
   height: 30px;
   padding-top: 30px;
   margin-left: 15%;
   color: rgb(252, 252, 252);
   line-height: 500px;
   text-align: center;
}