.carousel{
    width: 100%;
    height: 400px;
    background-color: black;
    display: flex;
    
}


@keyframes carousel1{
    
    20%{
        opacity: 0;
    }

    40%{
        opacity: 0;
    }

    60%{
        opacity: 0;
    }

    80%{
        opacity: 0;
    }

    100%{
        opacity: 0;
    }

}





.carousel1{
    width: 100%;
    height: 400px;
    background-color: rgb(92, 90, 99);
    position: absolute;
    animation-name: carousel1;
    animation-duration: 20s;
    animation-play-state: running;
    animation-delay: 1s;
    animation-iteration-count: infinte;
}

@keyframes carousel1{
    
    20%{
        opacity: 0;
    }

    40%{
        opacity: 0;
    }

    60%{
        opacity: 0;
    }

    80%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }

}



.carousel2{
    width: 100%;
    height: 400px;
    background-color: rgb(80, 58, 161);
    position: absolute;
    animation-name: carousel2;
    animation-duration: 20s;
    animation-play-state: running;
    /* animation-delay: 1s; */
    animation-iteration-count: infinte;
}

@keyframes carousel2{
    
    20%{
        opacity: 0;
    }

    40%{
        opacity: 0;
    }

    60%{
        opacity: 0;
    }

    80%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }

}

.carousel3{
    width: 100%;
    height: 400px;
    background-color: rgb(27, 187, 80);
    position: absolute;
    animation-name: carousel3;
    animation-duration: 20s;
    animation-play-state: running;
    animation-delay: 1s;
    animation-iteration-count: infinte;
}

@keyframes carousel3{
    
    20%{
        opacity: 0;
    }

    40%{
        opacity: 0;
    }

    60%{
        opacity: 1;
    }

    80%{
        opacity: 0;
    }

    100%{
        opacity: 0;
    }

}

.carousel4{
    width: 100%;
    height: 400px;
    background-color: rgb(108, 224, 0);
    position: absolute;
    animation-name: carousel4;
    animation-duration: 20s;
    animation-play-state: running;
    animation-delay: 1s;
    animation-iteration-count: infinte;
}

@keyframes carousel4{
    
    20%{
        opacity: 0;
    }

    40%{
        opacity: 2;
    }

    60%{
        opacity: 0;
    }

    80%{
        opacity: 0;
    }

    100%{
        opacity: 0;
    }

}


.carousel5{
    width: 100%;
    height: 400px;
    background-color: rgb(243, 83, 9);
    position: absolute;
    animation-name: carousel5;
    animation-duration: 20s;
    animation-play-state: running;
    animation-delay: 1s;
    animation-iteration-count: infinte;
}

@keyframes carousel5{
    
    20%{
        opacity: 1;
    }

    40%{
        opacity: 0;
    }

    60%{
        opacity: 0;
    }

    80%{
        opacity: 0;
    }

    100%{
        opacity: 0;
    }
}


.carousel_image{
    width: 30%;
    height: 350px;
    margin-top: 25px;
    border-radius: 18px;
    margin-left: 5%;
    
}
